* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	
}
body {
    background-color: rgb(253, 254, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
td,th{
	padding:5px;
	border-style:none;
}
.full {
    width: 50%;
    max-width: 1000px;
    min-height: 100px;
    background-color: rgb(245, 239, 231);
    margin: 50px;
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.left {
    position: initial;
    background-color:#FF5A5A;
    padding: 20px;
}
.right {
    position: initial;
    background-color:off-white;
    padding: 20px;
 
}
.image, .Contact, .Skills, .Language,.title,.summary,
.obj, .Experience, .Education,.proj{
    margin-bottom: 30px;
}
.h2 {
    background-color: rgb(4, 96, 150);
}
.link2{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
}
.link2:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background:#FF5A5A;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.link2:hover:before{
  left: 0;
  right: 0;
}
.link1:hover{
  background:#F8F0E3;
}
